---
import Section from './Section.astro';
import Social from './Social.astro';
---

<Section>
	<br />
	<div class="text-sm">
		<h2 class="text-2xl font-bold">My bio</h2>
		<p class="py-2">
			Telecom + Computer Science engineer, developed my passion for computers when I was 8: after
			school I would crash my dad’s office and jump onto the computer when he was in meetings. One
			day I found a monalisa.exe on the desktop, and clicked it. The result made me want to be able
			to do something like it. Recently I replicated that .exe and put it <span
				class="font-black text-orange-600"><a href="https://rbatista191.github.io/">here</a></span
			> 🙈
		</p>
		<p class="py-2">
			Today I am mostly focused on <span class="font-black text-orange-600"
				><a href="https://fidforward.com/">FidForward</a></span
			>, a tool that sources, ranks and outreaches top candidates, saving tons of work to recruiters
			and hiring managers.
		</p>
		<p class="py-2">
			Before, I was part of a startup's founding team that scaled to $7M ARR, and acted as General
			Manager for a Spanish unicorn ($65M ARR under my scope).
		</p>
		<br />
		<h2 class="pb-2 text-2xl font-bold">Interesting things I did</h2>
		<p class="py-2">
			In 2017 I built a data warehouse using Google Sheets to optimize our marketing spend (using
			Markov models to define the optimal attribution model). I stretched Google Sheets so much that
			Google reached out to us to migrate to Google Cloud and test their early ML features.
		</p>
		<p class="py-2">
			When I joined Glovo as General Manager, the local operations were on the verge of shutting
			down (~10% vs. competitor with 90%). I had to rebuild the team and in 24 months we achieved a
			170% CAGR, growing market share to 35%.
		</p>
		<br />
		<h2 class="pb-2 text-2xl font-bold">Past projects</h2>
		<p class="py-2">
			<span class="font-black text-orange-600"
				><a href="https://article-generation.com/">Article Generation</a>
			</span>
			<strong>(acquired)</strong> boosts your website's traffic with SEO-optimized content.
		</p>
		<p class="py-2">
			<span class="font-black text-orange-600"
				><a href="https://meeting-reminders.com/">Meeting Reminders</a></span
			>
			<strong>(acquired)</strong> makes you forget about manually reminding attendees about your meetings.
		</p>
		<p class="py-2">
			<span class="font-black text-orange-600"><a href="https://tramitit.com/">Tramitit</a></span>
			gathers the information you need to get through the governmental procedures faster.
		</p>
		<p class="py-2">
			<span class="font-black text-orange-600"><a href="https://getemil.io/">Emilio</a></span> was an
			AI email manager that saved 60% of your email time. <span class="font-black text-orange-600"
				><a href="/posts/what-have-I-learnt-from-Emilio/">Co-founders issues arose</a></span
			> and was shut down.
		</p>
		<p class="py-2">
			Supalinks is a compilation of <span class="font-black text-orange-600"
				><a href="/sneakybacklinks">free</a></span
			> and <span class="font-black text-orange-600"><a href="/outreachbacklinks">paid</a></span> backlinks
			to get started with your SEO.
		</p>
		<br />
	</div>
	<div class="flex">
		<Social href="https://github.com/rbatista191">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="h-4 w-4"
				fill="currentColor"
				viewBox="0 0 24 24"
			>
				<path
					d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
				></path>
			</svg>
		</Social>
		<Social href="https://www.linkedin.com/in/batistaricardo/">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="h-4 w-4"
				fill="currentColor"
				viewBox="0 0 24 24"
			>
				<path
					d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"
				></path>
			</svg>
		</Social>
		<Social href="https://twitter.com/intent/follow?screen_name=rbatista19">
			<svg
				viewBox="0 0 300 300"
				xmlns="http://www.w3.org/2000/svg"
				fill="currentColor"
				width="1em"
				height="1em"
			>
				<path
					d="m236 0h46l-101 115 118 156h-92.6l-72.5-94.8-83 94.8h-46l107-123-113-148h94.9l65.5 86.6zm-16.1 244h25.5l-165-218h-27.4z"
				></path></svg
			>
		</Social>
	</div>
</Section>
